html  {background: #000000 url('../images/bg-footsteps.jpg') top center no-repeat;}
body { background: url('../images/pattern.png') repeat ; color: #fff; font-family: "Helvetica", sans-serif; font-weight: 400; font-style:normal; font-size: 0.85em; margin-top: -30px;  line-height:160%} 
h1, h2, h3, h4, h5, h6 { margin:0px 0 20px 0; font-family: "Helvetica", sans-serif; font-weight: 600; }
h1 { font-size:26px; line-height:30px; }
h2 { font-size:24px; line-height:28px; }
h3 { font-size:18px; line-height:22px; }
h4 { font-size:16px; }
h5 { font-size:12px; }
h6 { font-size:10px; }



@media only screen and (min-width: 100px) and (max-width: 640px) {
div{
width: 100px;
height: 100px;
}
}
@media only screen and (min-width: 641px) and (max-width: 789px) {
div{
width: 200px;
height: 200px;
}
}




#all { width:1200px; margin:0 auto; }






.content { min-width: 800px; width: 800px; margin: 30px 80px 0 25%; padding: 0px 18px; display:block; float:left;}
.content #title-img { float: left; margin: 0 0 20px 0; }
.content br { clear: both; }
.content li { padding-right: 25px; }

#space { height:100px; width:800px; display:block; float:left; } 





#nav-menu { text-align: left; position: fixed; top: 20px; z-index: 10; padding: 2px 2px 2px 2px; font-size: 1.3em; font-family: "Helvetica", sans-serif; font-weight: 400; }
#nav-menu ul { list-style-type: none; margin: 0; padding: 0; }
#nav-menu li { color: #ffffff; margin-bottom: 10px; text-align: left; }
#nav-menu a { text-decoration: none; color: #ffffff; padding:5px 10px; width:140px; display:block;}
#nav-menu a:hover { background: url('../images/menu.png') repeat; }

#nav-menu li.selected { background: url('../images/menu.png') repeat; width:156px; }
#nav-menu li.selected a { color: #ffffff; }
#nav-menu li.selected a:hover { color: #ffffff; }



#nav-logo { width: 150px; height: 68px; background: url('../images/logo.png'); margin: 0 0 25px 0; }



#nav-address { margin: 50px 0 0 8px; font-size: 0.8em; }




.home-left-column { position:relative; overflow:hidden; float:left; width:50%; margin:-200px 0 0 0; height:300px; }
.home-left-column img { width:350px; height:219px; border: 5px solid #eda430; }
.home-left-column a:hover { background-position: center bottom; }

.home-right-column { position:relative; overflow:hidden; float:left; width:50%; margin:-200px 0 0 0; left: 5%;}
.home-right-column p { margin:20px 0 0 0; }
.home-right-column a { width:251px; height:43px; margin: 30px 0 0 30px; display:block; background:url('../images/home-right.png') no-repeat; background-position: center top; }
.home-right-column a:hover { background-position: center bottom; }

.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;} 






#OverviewObjectives .OverviewObjectives-type {display:block; float:left; margin: 0 0 20px 0; }
#OverviewObjectives span {display:block; float:right; width:610px; margin:5px 0 0 20px; border-left: 1px solid #eda430; padding: 0 0 0 20px; }






#SystemR .columns-SystemR > img { border: 5px solid #eda430; margin:10px 10px 10px 13px; display:block;}
#SystemR .columns-SystemR > h4 { margin-bottom:0px; display:block;}

.columns-SystemR { padding: 10px 10px 10px 5px; text-align:center; display:block; }
.columns-SystemR 
 { font-weight: bold; }

#person1 { float:left; width:215px; display:block; border-right: 1px solid #ffffff;}
#person2 { float:left; width:215px; display:block; }
#person3 { float:left; width:215px; display:block; border-left: 1px solid #ffffff;}






#left { position: relative; overflow: hidden; float: left; width: 50%; }
#right { position: relative; overflow: hidden; float: left; width: 50%; left: 3%; }
form {margin:20px 0 50px 0; font-family: "Helvetica", sans-serif;}
.contact-input { border:5px solid #fff; width:90%; padding: 10px; color:#cb0d26; font-family: "Helvetica", sans-serif;}
.contact-input:hover { border:5px solid #eda430; }
.contact-input:focus { border:5px solid #eda430; }
.contact-submit { background:none; color:#fff; border:none; margin-top:10px; width:99%; padding:10px; text-align:left; font-family: "Helvetica", sans-serif;}
.contact-submit:hover { background: #eda430; border:none;}



#footer { min-width: 500px; width: 800px; border-top: 1px solid #fff; margin: 20px 75px 0 25%; padding: 10px 15px; text-align: left; font-size: 0.8em; clear: both;}